:root{
    --colorfont:rgb(128, 0, 128);
    --colorWhite:white;
    --colorBlack: #000;
    --colorHoverBtnLink:#eeeeee85;
}
@font-face {
    font-family: "MontSerrat";
    src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
*, html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw!important;
    overflow-x: hidden;
}
/* ***************** Style pour la navbar *****************  */

nav {
 width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
     width:90%;
     position: relative;
     margin: 0 auto;
}

nav ul li{
     list-style-type: none;
     /* padding: 10px; */
     margin: 17px 10px;
     position: relative;
}


nav ul li a{
    text-decoration: none;
    color: var(--colorBlack);
    font-family: "MontSerrat",sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-weight: 900px;


}

nav ul .langue{
     background: #eee;
     border-radius: 60px;
     padding: 7px 10px ;
}

nav ul li a:hover::before{
    content:"";
    border: 4px solid var(--colorfont);
     display: block;
     position: absolute;
     width: 100%;
     top:-24px;
     color: var(--colorfont);
}

nav ul li:last-child:before:hover{
  border: none;
}



/* ************** Style header ******** */

header{
    width: 100vw;
    height: 671px;
    background:url("./assets/img/bg.jpg") no-repeat center/cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
header h1{
    color: var(--colorWhite);
    font-family: "MontSerrat", sans-serif;
    margin: 30px auto;
    text-transform: uppercase;
}


header a {
 color: var(--colorWhite);
 text-transform: uppercase;
 font-size: 1rem;
 font-weight: bold;
 text-decoration: none;
 letter-spacing: 3px;
 display: block;
 /* background: black; */
 padding: 10px 20px;
  border: 2px solid var(--colorWhite);
 font-family: "MontSerrat", sans-serif;
/* transition: .5s ease-in-out; */
}

header a:hover{
  background: #cfcece5a;
  /* color:var(--colorBlack); */
}


/* ************************ Style section Text ************* */

.sectionText{
    width: 100vw;
    height:191px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f1f1f1;

}

.sectionText p{
    color: var(--colorBlack);
    font-family: "MontSerrat",sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;
    width: 70%;
}


/* ****************** Style Gallery **** */
.section-gallery{
    width: 100vw;
    padding: 50px 0;
    display: grid;
    /* grid-template-rows: ; */
    background: var(--colorBlack);
}
.container-gallery{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,32%);
    gap:10px;
    
}

.container-gallery .card{
    /* box-shadow: 2px 3px 2px #000; */
    /* border: 2px solid #eee; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-gallery .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

}

.container-gallery .card h2{
    font-size: 1.2rem;
    font-family: "MontSerrat" ,sans-serif;
    color: var(--colorWhite)
}


.container-gallery .card .card-body p{
    color:var(--colorWhite);
    margin: 6px 0 ;
    text-align: center;  
    font-family: "MontSerrat" , sans-serif;
    font-weight: bold;
}

.container-gallery .card .card-footer{
    /* background:#eee; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-gallery .card .card-footer a {
   color:var(--colorWhite);
   /* background: #eee; */
   display: block;
   padding:6px 20px;
   border: 1px solid var(--colorWhite);
   text-decoration: none;
   font-weight: bold;
   font-family: "MontSerrat",sans-serif;
}
.container-gallery .card .card-footer a:hover {
 background: var(--colorHoverBtnLink);
}



/* ************** Style newPapers  */


.section-new-campus{
    width: 100vw;
    height: 150px;
    /* background: teal; */
    padding:40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;

}

.section-new-campus .container-new-campus{
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content:space-around;
     align-items: center;
}

.section-new-campus .container-new-campus .text{
     width: 60%;
     margin: 0 auto;
     display: flex;
     justify-content:flex-start;
     flex-direction:column;
}
.section-new-campus .container-new-campus .text h4{
   color: var(--colorBlack);
   font-family: "MontSerrat", sans-serif;
   margin: 0 0  10px 0;
   letter-spacing: 6px;
   text-transform: uppercase;
}
.section-new-campus .container-new-campus .text p{
   color: var(--colorBlack);
   font-family: "MontSerrat", sans-serif;
   margin: 0 0  10px 0;
   font-weight: bold;
}
.section-new-campus .container-new-campus a{
   color: var(--colorBlack);
   font-family: "MontSerrat", sans-serif;
   font-weight: bold;
   display: inline-block;
   border: 1px solid var(--colorBlack);
   text-decoration: none;
   text-align: center;
   padding:3px 10px;
   text-transform: uppercase;
   /* background: #eee; */
}
.section-new-campus .container-new-campus a:hover{
    background:var(--colorHoverBtnLink);
 
}



/* ******* Style Inauguration ********* */


.section-inauguration{
    /* background: #000; */
    width: 100vw;
    padding-top: 90px ;
    padding-bottom: 200px;
    background: #f1f1f1;

}

.container-inauguration{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,32%);
    gap:30px;
    margin: 10px auto;
}

.container-inauguration  .card{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "MontSerrat";
    font-weight: 800px;
    position: relative;
}

.container-inauguration  .card-header{
    width: 100%;
}
.container-inauguration  .card-header img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 0px  rgb(255, 255, 255);

}
.container-inauguration  .card-body{
    margin-top: 10px;
    line-height:25px;
    font-weight: 800px;
}
.container-inauguration  .card-footer{
  position: absolute;
  /* background:black; */
  width: 100%;
  bottom: -30px;
}
.container-inauguration  .card-footer a{
    text-decoration: none;
    color: var(--colorfont);
    font-weight: 600;
}
.container-inauguration  .card-footer .fas{
    margin-left: 10px;
}

/* **************** Style Links ***** */

.section-infos-links{
    margin: 80px 0 ;
    width: 100vw;
    /* border: 3px solid red; */
    font-family: "MontSerrat" , sans-serif;
    font-weight: bold;
}

 .container-links{
    width: 80%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
    margin: 20px auto;
    /* background:teal ;     */
 }
 .container-links li , .container-links a{
   text-decoration: none;
   list-style-type: none;
   line-height: 30px;
 }

 .container-links h3{
    margin-bottom: 20px;
    font-size: 1.5rem;
 }
 .container-links h4{
    margin: 20px 0 0 0; 
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
 }
 .container-links p{
    line-height: 25px;
 }
 .container-links .fa-brands{
    margin: 10px 10px ;
    font-size: 20px;
 }


/* ********* Style Parteanereat **** */





 .section-partenareat::before{
  content:"";
  border:1px solid #eee;
   position: absolute;
   width: 80%;
   top:-30px;
   /* margin:0 auto; */
   /* right: 0; */
   left: 50%;
   transform: translateX(-50%);

 }
 .section-partenareat{
    margin:  80px 0 0 0 ;
    width: 100vw;
    position: relative;
 }

 .container-partenareat{
     width: 90%;
      display: flex;
    font-family: "MontSerrat" , sans-serif;
    /* align-items: center; */
    margin: 0 auto;
    justify-content: space-between;
 }

 .container-partenareat .left{
   font-weight: bold;
   line-height: 20px;
    
 }
 .container-partenareat h4{
   margin-bottom: 20px;
    
 }
 .container-partenareat .right{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-grow: 1;
 }
 .container-partenareat .right img{
    list-style-type: none;
    margin: 0 5px;
 }



 /* **************** Style footer ****  */

 footer{
    width: 100vw;
    margin: 20px 0 0 0 ;
    font-family: "MontSerrat" , sans-serif;
    background: #0c0c0c;
 }

 .container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 100%;

 }
 .container-footer h2{
   margin: 0 0 20px 0;
   color: var(--colorWhite);
   text-transform: uppercase;
 }
 .container-footer img{
   margin: 0 10px;
 }

 .container-footer .logo{
    display: flex;
    flex-wrap:nowrap;
 }










 /* ************ Responsive *********** */

@media screen and (max-width:888px){
    nav ul li {
        padding: 5px 3px;
    }
    nav ul li a{
       padding: 0;
       font-size: 14px;
    }
    nav ul .langue{
        background: #eee;
        border-radius: 60px;
        padding: 3px 8px ;
   }
}


@media screen and (max-width: 780px){
    nav {
        display: none;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-gallery{
        width: 80%;
        margin: 0 auto;
        display:block;     
    }
    .container-gallery .card{
      margin: 40px 0;     
    }

    .section-new-campus .container-new-campus{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: column;
   }

    .section-new-campus .container-new-campus{
        margin: 0 auto;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
   }

   .section-new-campus .container-new-campus .text{
     margin: 10px;
}


.container-inauguration{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.container-inauguration .card{
     margin: 50px 0 ;
}



.section-infos-links{
   display: none;
 }

.section-partenareat{
     display: none;
}

.container-footer .logo{
    flex-wrap:wrap;
}
}